<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.student.entity.SysRole">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_key" property="roleKey"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>

    <select id="findByRoleKey" resultMap="BaseResultMap">
        SELECT * FROM sys_role WHERE role_key = #{roleKey}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM sys_role ORDER BY id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role (role_name, role_key, description)
        VALUES (#{roleName}, #{roleKey}, #{description})
    </insert>

    <update id="update">
        UPDATE sys_role
        SET role_name = #{roleName},
            role_key = #{roleKey},
            description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_role WHERE id = #{id}
    </delete>
</mapper>
